<% layout("/layouts/boilerplate") %>

<body>
    <div class="row">
        <div class="col-8 offset-2">
            <form action="/listings" method="post">
                <h1>Make new listing</h1>
                <div class="mb-3"><label for="title" class="form-label">Title : </label>
                <input name="listing[title]" type="text" placeholder="Enter title" class="form-control" >
                <div class="mb-3"><label for="description" class="form-label">Description : </label>
                <input name="listing[description]" type="text" placeholder="Enter description" class="form-control"></div>
                <div class="mb-3"><label for="image" class="form-label">image : </label>
                <input name="listing[image]" type="text" placeholder="Enter image URL/link" class="form-control"></div>
                <div class="row">
                    <div class="mb-3 col-md-4"><label for="price" class="form-label">Price : </label>
                    <input name="listing[price]" type="number" placeholder="2000" class="form-control"></div>
                    <div class="mb-3 col-md-7"><label for="country" class="form-label">Country : </label>
                    <input name="listing[country]" type="text" placeholder="India" class="form-control"></div>
                </div>
                <div class="mb-3"><label for="location" class="form-label">Location : </label>
                <input name="listing[location]" type="text" placeholder="Mumbai" class="form-control"></div>
                <button class="btn btn-dark add-btn">Add</button>
            </form>
        </div>
    </div>
</body>